# dbt Specific
logs/
target/
dbt_packages/
dbt_modules/
.user.yml

# DuckDB / SQLite (Database files)
*.duckdb
*.duckdb.wal
*.db
*.sqlite

# Python Specific
__pycache__/
*.py[cod]
*$py.class
venv/
.env
